ğŸ’» **ì¤€ë¹„ ì½”ë“œ**

In [1]:
import pandas as pd

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submission = pd.read_csv('gender_submission.csv')

for df in [train, test]:
    df['Gender'] = df['Sex'].map({'male': 0, 'female': 1})

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

def train_and_predict(train, test):
    # ë°ì´í„° ì¤€ë¹„
    X = train[inc_fts]     # ì„ íƒí•œ íŠ¹ì„±ë“¤
    y = train['Survived']  # ìƒì¡´ ì—¬ë¶€
    X_test = test[inc_fts] # ì˜ˆì¸¡í•´ì•¼ í•  ë°ì´í„°ì˜ ì •ë³´ë“¤

    # í•™ìŠµ/ê²€ì¦ ë°ì´í„° ë¶„í• 
    X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)

    # ëª¨ë¸ í•™ìŠµ
    model = RandomForestClassifier(random_state=42)
    model.fit(X_train, y_train)

    # ì„±ëŠ¥ í‰ê°€
    y_pred = model.predict(X_valid)
    accuracy = accuracy_score(y_valid, y_pred)
    print(f"Validation Score: {accuracy:.5f}")

    # í…ŒìŠ¤íŠ¸ ë°ì´í„° ì˜ˆì¸¡ ë° ì €ì¥
    y_test_pred = model.predict(X_test)
    submission['Survived'] = y_test_pred
    submission.to_csv('titanic_pred.csv', index=False)

<br>

# 2. ìŠ¹ì„  í•­êµ¬(Embarked)ê°€ ë¹„ì–´ìˆëŠ” ë‘ ìŠ¹ê°ì—” ì–´ë–¤ ë¹„ë°€ì´ ìˆì„ê¹Œ?

ì„±ë³„ ì •ë³´ì˜ ì¶”ê°€ë¡œ ìš°ë¦¬ì˜ ì˜ˆì¸¡ ëª¨ë¸ì€ í° ì§„ì „ì„ ì´ë£¨ì—ˆìŠµë‹ˆë‹¤. í•˜ì§€ë§Œ íƒ€ì´íƒ€ë‹‰í˜¸ì˜ ìƒì¡´ê³¼ ì£½ìŒì„ ê°€ë¥¸ ê²ƒì´ ë‹¨ìˆœíˆ ì„±ë³„ë¿ì´ì—ˆì„ê¹Œìš”? ì´ë²ˆì—ëŠ” ìŠ¹ê°ë“¤ì˜ ìŠ¹ì„  í•­êµ¬ë¥¼ ë‚˜íƒ€ë‚´ëŠ” 'Embarked' ë³€ìˆ˜ë¥¼ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤. ê³¼ì—° ì–´ëŠ í•­êµ¬ì—ì„œ ìŠ¹ì„ í•œ ìŠ¹ê°ë“¤ì˜ ìƒì¡´ í™•ë¥ ì´ ë” ë†’ì•˜ì„ê¹Œìš”?



## Embarked í”¼ì³ ê°œìš”

ë¨¼ì € Embarked ë³€ìˆ˜ì— ì–´ë–¤ ê°’ë“¤ì´ ìˆëŠ”ì§€ í™•ì¸í•´ë³´ê² ìŠµë‹ˆë‹¤.

ğŸ“ **í”„ë¡¬í”„íŠ¸**

```
Embarked í”¼ì³ì— ì–´ë–¤ ê°’ë“¤ì´ ìˆëŠ”ì§€ ë³´ì—¬ì¤˜
```

ğŸ’» **ì½”ë“œ & ì‹¤í–‰ê²°ê³¼**

In [3]:
print(train['Embarked'].unique())

['S' 'C' 'Q' nan]

ê²°ê³¼ë¥¼ ë³´ë©´ ë„¤ ê°€ì§€ ê°’ì´ ìˆìŠµë‹ˆë‹¤:

- 'S': Southampton(ì˜êµ­)
- 'C': Cherbourg(í”„ë‘ìŠ¤)
- 'Q': Queenstown(ì•„ì¼ëœë“œ)
- nan: ê²°ì¸¡ì¹˜(Not a Number)

```{figure} ./images/22-1.png
---
---
```

íƒ€ì´íƒ€ë‹‰í˜¸ëŠ” Southamptonì—ì„œ ì¶œë°œí•˜ì—¬ Cherbourg, Queenstownì„ ê±°ì³ ë‰´ìš•ìœ¼ë¡œ í–¥í–ˆìŠµë‹ˆë‹¤. ê° í•­êµ¬ëŠ” ì„œë¡œ ë‹¤ë¥¸ ì´ì•¼ê¸°ë¥¼ í’ˆê³  ìˆì—ˆìŠµë‹ˆë‹¤. ë¹…í† ë¦¬ì•„ ì‹œëŒ€ ì˜êµ­ì˜ í™”ë ¤í•œ ë¶€ìœ ì¸µì´ ë§ì•˜ë˜ Southampton, í”„ë‘ìŠ¤ì˜ ê·€ì¡±ë“¤ì´ ì¦ê²¨ ì°¾ë˜ Cherbourg, ì‹ ëŒ€ë¥™ì„ í–¥í•œ ì•„ì¼ëœë“œ ì´ë¯¼ìë“¤ì˜ ê´€ë¬¸ì´ì—ˆë˜ Queenstown. ì´ë ‡ê²Œ ì„œë¡œ ë‹¤ë¥¸ ë°°ê²½ì˜ ìŠ¹ê°ë“¤ì´ íƒ€ì´íƒ€ë‹‰í˜¸ì— ì˜¬ëìŠµë‹ˆë‹¤.

í¥ë¯¸ë¡œìš´ ì ì€ ì¼ë¶€ ìŠ¹ê°ì˜ ìŠ¹ì„  í•­êµ¬ ì •ë³´ê°€ ëˆ„ë½ë˜ì–´ ìˆë‹¤ëŠ” ê²ƒì…ë‹ˆë‹¤. ì´ë“¤ì€ ì–´ë–¤ ì‚¬ì—°ì„ ê°€ì§„ ìŠ¹ê°ë“¤ì¼ê¹Œìš”?



## ì¶œë°œì§€ë³„ ìƒì¡´ìœ¨ ë¶„ì„

ë¨¼ì € ê° í•­êµ¬ì—ì„œ ìŠ¹ì„ í•œ ìŠ¹ê°ë“¤ì˜ ìƒì¡´ í™•ë¥ ì´ ì–´ë–»ê²Œ ë‹¬ëëŠ”ì§€ë¶€í„° ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤.

ğŸ“ **í”„ë¡¬í”„íŠ¸**

```
ì¶œë°œì§€(Embarked)ë³„ ìŠ¹ê° ìˆ˜ì™€ ìƒì¡´ìœ¨ì„ ê³„ì‚°í•´ì¤˜
```

ğŸ’» **ì½”ë“œ & ì‹¤í–‰ê²°ê³¼**

In [4]:
embarked_stats = train.groupby('Embarked')['Survived'].agg(['count', 'mean'])
embarked_stats

          count      mean
Embarked
C           168  0.553571
Q            77  0.389610
S           644  0.336957

ë¶„ì„ ê²°ê³¼ê°€ ë³´ì—¬ì£¼ëŠ” ë†€ë¼ìš´ íŒ¨í„´ë“¤ì„ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤:

1. ìŠ¹ê° ë¶„í¬:
   - Southampton(S)ì—ì„œ ê°€ì¥ ë§ì€ 644ëª…ì´ ìŠ¹ì„ í–ˆìŠµë‹ˆë‹¤
   - Cherbourg(C)ì—ì„œ 168ëª…ì´ ìŠ¹ì„ í–ˆìŠµë‹ˆë‹¤
   - Queenstown(Q)ì—ì„œ ê°€ì¥ ì ì€ 77ëª…ì´ ìŠ¹ì„ í–ˆìŠµë‹ˆë‹¤
2. ìƒì¡´ìœ¨:
   - Cherbourg ìŠ¹ì„ ê°ì˜ ìƒì¡´ìœ¨ì´ 55.4%ë¡œ ê°€ì¥ ë†’ìŠµë‹ˆë‹¤
   - Queenstown ìŠ¹ì„ ê°ì˜ ìƒì¡´ìœ¨ì€ 39.0%ì…ë‹ˆë‹¤
   - Southampton ìŠ¹ì„ ê°ì˜ ìƒì¡´ìœ¨ì´ 33.7%ë¡œ ê°€ì¥ ë‚®ìŠµë‹ˆë‹¤

íŠ¹íˆ ì£¼ëª©í•  ë§Œí•œ ì ì€ Cherbourgì—ì„œ ìŠ¹ì„ í•œ ìŠ¹ê°ë“¤ì˜ ìƒì¡´ìœ¨ì´ ë‹¤ë¥¸ í•­êµ¬ ìŠ¹ì„ ê°ë“¤ì— ë¹„í•´ í˜„ì €íˆ ë†’ë‹¤ëŠ” ê²ƒì…ë‹ˆë‹¤. ì´ëŠ” Cherbourgê°€ í”„ë‘ìŠ¤ì˜ ë¶€ìœ í•œ í•­êµ¬ë„ì‹œì˜€ê³ , ì´ê³³ì—ì„œ ìŠ¹ì„ í•œ ìŠ¹ê°ë“¤ ì¤‘ ìƒë‹¹ìˆ˜ê°€ 1ë“±ì‹¤ì„ ì´ìš©í–ˆê¸° ë•Œë¬¸ìœ¼ë¡œ ë³´ì…ë‹ˆë‹¤.



## ê²°ì¸¡ì¹˜ì˜ ìˆ˜ í™•ì¸

ë¨¼ì € Embarked í”¼ì³ì— ì •í™•íˆ ëª‡ ê°œì˜ ê²°ì¸¡ì¹˜ê°€ ìˆëŠ”ì§€ í™•ì¸í•´ë³´ê² ìŠµë‹ˆë‹¤. ì „ì²´ì ì¸ ê²°ì¸¡ì¹˜ í˜„í™©ì„ íŒŒì•…í•˜ëŠ” ê²ƒì€ ë°ì´í„° ì „ì²˜ë¦¬ì˜ ì²« ë‹¨ê³„ì…ë‹ˆë‹¤.  train ë°ì´í„°ì™€ test ë°ì´í„° ëª¨ë‘ í™•ì¸í•´ë³´ê² ìŠµë‹ˆë‹¤.

ğŸ“ **í”„ë¡¬í”„íŠ¸**

```
trainê³¼ testì˜ Embarked ê²°ì¸¡ì¹˜ ê°œìˆ˜ë¥¼ ì•Œë ¤ì¤˜
```

ğŸ’» **ì½”ë“œ & ì‹¤í–‰ê²°ê³¼**

In [5]:
print(f"train ë°ì´í„°ì˜ Embarked ê²°ì¸¡ì¹˜ ê°œìˆ˜: {train['Embarked'].isnull().sum()}")
print(f"test ë°ì´í„°ì˜ Embarked ê²°ì¸¡ì¹˜ ê°œìˆ˜: {test['Embarked'].isnull().sum()}")

train ë°ì´í„°ì˜ Embarked ê²°ì¸¡ì¹˜ ê°œìˆ˜: 2
test ë°ì´í„°ì˜ Embarked ê²°ì¸¡ì¹˜ ê°œìˆ˜: 0

ê²°ê³¼ë¥¼ ë³´ë©´ train ë°ì´í„°ì—ëŠ” 2ê°œ, test ë°ì´í„°ì—ëŠ” 0ê°œì˜ ê²°ì¸¡ì¹˜ê°€ ìˆìŒì„ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì¦‰, ìŠ¹ì„  í•­êµ¬ ì •ë³´ê°€ ëˆ„ë½ëœ ìŠ¹ê°ì€ train ë°ì´í„°ì—ë§Œ 2ëª… ìˆìœ¼ë©°, test ë°ì´í„°ì—ëŠ” ì—†ìŠµë‹ˆë‹¤. train ë°ì´í„°ì˜ ê²°ì¸¡ì¹˜ëŠ” ì „ì²´ 891ëª…ì˜ ìŠ¹ê° ì¤‘ 0.2% ì •ë„ë¡œ ë§¤ìš° ì ì€ ë¹„ìœ¨ì´ì§€ë§Œ, ì •í™•í•œ ì˜ˆì¸¡ì„ ìœ„í•´ì„œëŠ” ì´ ê²°ì¸¡ì¹˜ë“¤ë„ ì ì ˆíˆ ì²˜ë¦¬í•˜ëŠ”ê²Œ ì¢‹ìŠµë‹ˆë‹¤.



## ê²°ì¸¡ì¹˜ì˜ ë¹„ë°€ ì¶”ì í•˜ê¸°

ì´ì œ ìŠ¹ì„  í•­êµ¬ ì •ë³´ê°€ ëˆ„ë½ëœ ìŠ¹ê°ë“¤ì˜ ì´ì•¼ê¸°ë¥¼ ì¶”ì í•´ë³´ê² ìŠµë‹ˆë‹¤. ì´ë“¤ì€ ëˆ„êµ¬ì´ë©°, ì–´ë–¤ ì‚¬ì—°ì´ ìˆì—ˆì„ê¹Œìš”?

ğŸ“ **í”„ë¡¬í”„íŠ¸**

```
Embarkedê°€ ê²°ì¸¡ì¹˜ì¸ ìŠ¹ê°ë“¤ì˜ ì •ë³´ë¥¼ ë³´ì—¬ì¤˜
```

ğŸ’» **ì½”ë“œ & ì‹¤í–‰ê²°ê³¼**

In [6]:
train[train['Embarked'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN,1
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN,1

ë°œê²¬ëœ ë‹¨ì„œë“¤ì„ ì •ë¦¬í•´ë³´ë©´:

1. ê°™ì€ íŠ¹ì„±:
   - ë‘ ìŠ¹ê° ëª¨ë‘ 1ë“±ì‹¤ ì—¬ì„± ìŠ¹ê°ì…ë‹ˆë‹¤
   - ì§€ë¶ˆí•œ ìš´ì„ì´ ëª¨ë‘ 80íŒŒìš´ë“œë¡œ ë™ì¼í•©ë‹ˆë‹¤
   - ê°™ì€ í‹°ì¼“ìœ¼ë¡œ ê°™ì€ ê°ì‹¤ì„ ì‚¬ìš©í–ˆìŠµë‹ˆë‹¤
   - ë‘ ìŠ¹ê° ëª¨ë‘ ìƒì¡´í–ˆìŠµë‹ˆë‹¤
2. ë‹¤ë¥¸ íŠ¹ì„±:
   - ì„±(lastname)ì´ ë‹¤ë¦…ë‹ˆë‹¤
   - ë‚˜ì´ëŠ” 38ì„¸ì™€ 62ì„¸ë¡œ 24ì‚´ ì°¨ì´ê°€ ë‚©ë‹ˆë‹¤
   - ë‘˜ ë‹¤ ê°€ì¡±(SibSp=0, Parch=0)ê³¼ í•¨ê»˜ íƒ€ì§€ ì•Šì•˜ìŠµë‹ˆë‹¤

:::{admonition} ìƒê°í•´ë³´ê¸° 
:class: tip 

1912ë…„, í˜¼ì ì—¬í–‰í•˜ê¸° ì–´ë ¤ì› ë˜ ì‹œëŒ€ì— ì´ ë‘ ì—¬ì„±ì€ ì–´ë–¤ ê´€ê³„ì˜€ì„ê¹Œìš”? ë‹¤ìŒê³¼ ê°™ì€ ê°€ëŠ¥ì„±ë“¤ì„ ìƒê°í•´ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤:

- ë¶€ìœ í•œ ì—¬ì„±ê³¼ ê·¸ì˜ ì—¬í–‰ ë™ë°˜ì(companion)
- ê·€ë¶€ì¸ê³¼ ê·¸ì˜ ê°€ì •êµì‚¬ ë˜ëŠ” ê°œì¸ë¹„ì„œ
- ì¹œêµ¬ ì‚¬ì´ì˜€ì„ê¹Œìš”? ì•„ë‹ˆë©´ ë‹¤ë¥¸ ê´€ê³„ì˜€ì„ê¹Œìš”?

ì—¬ëŸ¬ë¶„ì€ ì–´ë–¤ ê´€ê³„ì˜€ì„ ê²ƒ ê°™ë‚˜ìš”?

:::

ì´ëŸ¬í•œ ì¶”ë¦¬ëŠ” ë‹¨ìˆœí•œ ì¬ë¯¸ë¥¼ ë„˜ì–´ ì‹¤ì œ ë°ì´í„° ë¶„ì„ì—ë„ ë„ì›€ì´ ë©ë‹ˆë‹¤. ë‘ ìŠ¹ê°ì´ ë™í–‰ì´ì—ˆë‹¤ë©´, ë‹¹ì—°íˆ ê°™ì€ í•­êµ¬ì—ì„œ ìŠ¹ì„ í–ˆì„ ê²ƒì´ê¸° ë•Œë¬¸ì…ë‹ˆë‹¤. ì•ìœ¼ë¡œì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬ì—ì„œ ì´ ì ì„ ê³ ë ¤í•´ì•¼ í•  ê²ƒì…ë‹ˆë‹¤.



## 1ë“±ì„ ìŠ¹ê°ë“¤ì˜ ìŠ¹ì„  í•­êµ¬ ë¶„ì„

ë‘ ìŠ¹ê°ì´ ëª¨ë‘ 1ë“±ì„ì„ ì´ìš©í–ˆë‹¤ëŠ” ì ì€ ì¤‘ìš”í•œ ë‹¨ì„œê°€ ë©ë‹ˆë‹¤. 1ë“±ì„ ìŠ¹ê°ë“¤ì€ ì£¼ë¡œ ì–´ëŠ í•­êµ¬ì—ì„œ ìŠ¹ì„ í–ˆì„ê¹Œìš”?

ğŸ“ **í”„ë¡¬í”„íŠ¸**
```
Pclassê°€ 1ì¸ ìŠ¹ê°ë“¤ì˜ Embarked ê°’ì´ ëª‡ ëª…ì¸ì§€ ì„¸ì–´ ì¤˜
```

ğŸ’» **ì½”ë“œ & ì‹¤í–‰ê²°ê³¼**

In [7]:
train[train['Pclass'] == 1]['Embarked'].value_counts()

Embarked
S    127
C     85
Q      2
Name: count, dtype: int64

ê²°ê³¼ë¥¼ ë³´ë©´ 1ë“±ì„ ìŠ¹ê°ë“¤ì˜ ìŠ¹ì„  íŒ¨í„´ì´ ëšœë ·í•˜ê²Œ ë‚˜íƒ€ë‚©ë‹ˆë‹¤:

- Southampton(S)ì—ì„œ 127ëª…ì´ ìŠ¹ì„ í–ˆìŠµë‹ˆë‹¤
- Cherbourg(C)ì—ì„œ 85ëª…ì´ ìŠ¹ì„ í–ˆìŠµë‹ˆë‹¤
- Queenstown(Q)ì—ì„œëŠ” ë‹¨ 2ëª…ë§Œì´ ìŠ¹ì„ í–ˆìŠµë‹ˆë‹¤

ì´ ë¶„í¬ëŠ” ê²°ì¸¡ì¹˜ ìŠ¹ê°ë“¤ì˜ ìŠ¹ì„  í•­êµ¬ë¥¼ ì¶”ì •í•˜ëŠ”ë° ì¤‘ìš”í•œ íŒíŠ¸ë¥¼ ì œê³µí•©ë‹ˆë‹¤. Queenstownì€ ê±°ì˜ ê°€ëŠ¥ì„±ì´ ì—†ì–´ ë³´ì´ë©°, Southamptonê³¼ Cherbourg ì¤‘ í•˜ë‚˜ì¼ ê²ƒì…ë‹ˆë‹¤.



## ê²°ì¸¡ì¹˜ ì²˜ë¦¬í•˜ê¸°

ì´ì „ ë¶„ì„ì„ í†µí•´ ìš°ë¦¬ëŠ” ì¤‘ìš”í•œ ë‹¨ì„œë“¤ì„ ë°œê²¬í–ˆìŠµë‹ˆë‹¤:

- ë‘ ìŠ¹ê°ì€ ê°™ì€ í‹°ì¼“ìœ¼ë¡œ 1ë“±ì‹¤ì„ ì´ìš©í–ˆìŠµë‹ˆë‹¤
- 1ë“±ì„ ìŠ¹ê°ë“¤ì˜ ë‹¤ìˆ˜(127ëª…)ê°€ Southamptonì—ì„œ ìŠ¹ì„ í–ˆìŠµë‹ˆë‹¤
- Queenstownì—ì„œëŠ” 1ë“±ì„ ìŠ¹ê°ì´ ë‹¨ 2ëª…ë¿ì´ì—ˆìŠµë‹ˆë‹¤

ì´ëŸ¬í•œ íŒ¨í„´ì„ ê³ ë ¤í•  ë•Œ, ì´ ë‘ ìŠ¹ê°ë„ Southamptonì—ì„œ ìŠ¹ì„ í–ˆì„ ê°€ëŠ¥ì„±ì´ ë†’ì•„ ë³´ì…ë‹ˆë‹¤. ì´ì— ë”°ë¼ ê²°ì¸¡ì¹˜ë¥¼ 'S'ë¡œ ì±„ì›Œë³´ê² ìŠµë‹ˆë‹¤.

ğŸ“ **í”„ë¡¬í”„íŠ¸**
```
1. Embarked ê°’ì´ ë¹„ì–´ ìˆëŠ” ìŠ¹ê°ë“¤ì˜ ê°’ì„ 'S'ë¡œ ì±„ì›Œ ì¤˜
2. PassengerIdê°€ 62 ë˜ëŠ” 830ì¸ ìŠ¹ê°ë“¤ì˜ ì •ë³´ë¥¼ ë³´ì—¬ ì¤˜
```

ğŸ’» **ì½”ë“œ & ì‹¤í–‰ê²°ê³¼**

In [8]:
train['Embarked'] = train['Embarked'].fillna('S')
train[train['PassengerId'].isin([62, 830])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,S,1
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,S,1

ì‹¤í–‰ ê²°ê³¼ë¥¼ ë³´ë©´ ë‘ ìŠ¹ê°ì˜ Embarked ê°’ì´ NaNì—ì„œ 'S'ë¡œ ë³€ê²½ëœ ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì´ë¡œì¨ train ë°ì´í„°ì˜ Embarked ê²°ì¸¡ì¹˜ ì²˜ë¦¬ê°€ ì™„ë£Œë˜ì—ˆìŠµë‹ˆë‹¤. ì´ì œ ë‹¤ìŒ ë‹¨ê³„ë¡œ ë„˜ì–´ê°€ì„œ, ì´ ì •ë³´ë¥¼ ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ì´ ì´í•´í•  ìˆ˜ ìˆëŠ” í˜•íƒœë¡œ ë³€í™˜í•´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.



## ì¸ì½”ë”© ë°©ì‹ ë¹„êµ

ìŠ¹ì„  í•­êµ¬ ì •ë³´ë¥¼ ìˆ«ìë¡œ ë³€í™˜í•˜ëŠ” ë°©ë²•ì—ëŠ” í¬ê²Œ ë‘ ê°€ì§€ê°€ ìˆìŠµë‹ˆë‹¤. ì•ì„œ ì„±ë³„ ë°ì´í„°ë¥¼ ì²˜ë¦¬í•  ë•Œ ì‚¬ìš©í–ˆë˜ ë ˆì´ë¸” ì¸ì½”ë”©ê³¼, ì´ë²ˆì— ì‚¬ìš©í•  ì›-í•« ì¸ì½”ë”©ì…ë‹ˆë‹¤. ìœ„ ë‹¤ì´ì–´ê·¸ë¨ì€ ë‘ ë°©ì‹ì˜ ì°¨ì´ë¥¼ ë³´ì—¬ì¤ë‹ˆë‹¤.

ë ˆì´ë¸” ì¸ì½”ë”©ì€ ê° ë²”ì£¼ì— ìˆ«ìë¥¼ í• ë‹¹í•˜ëŠ” ë°©ì‹ì…ë‹ˆë‹¤:

- Southampton = 0
- Cherbourg = 1
- Queenstown = 2

í•˜ì§€ë§Œ ì´ ë°©ì‹ì€ ì¤‘ìš”í•œ ë¬¸ì œê°€ ìˆìŠµë‹ˆë‹¤. ìˆ«ìì˜ í¬ê¸°ê°€ ë§ˆì¹˜ í•­êµ¬ ê°„ì˜ ìˆœìœ„ë‚˜ ì¤‘ìš”ë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ê²ƒì²˜ëŸ¼ ë³´ì¼ ìˆ˜ ìˆê¸° ë•Œë¬¸ì…ë‹ˆë‹¤. Queenstown(2)ì´ Southampton(0)ë³´ë‹¤ "ë” ì¢‹ì€" í•­êµ¬ì¸ ê²ƒì²˜ëŸ¼ í•´ì„ë  ìˆ˜ ìˆì£ .

ë°˜ë©´ ì›-í•« ì¸ì½”ë”©ì€ ê° í•­êµ¬ë¥¼ ë³„ë„ì˜ ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“­ë‹ˆë‹¤:

- Embarked_S: Southamptonì—ì„œ ìŠ¹ì„ í–ˆìœ¼ë©´ 1, ì•„ë‹ˆë©´ 0
- Embarked_C: Cherbourgì—ì„œ ìŠ¹ì„ í–ˆìœ¼ë©´ 1, ì•„ë‹ˆë©´ 0
- Embarked_Q: Queenstownì—ì„œ ìŠ¹ì„ í–ˆìœ¼ë©´ 1, ì•„ë‹ˆë©´ 0

ì´ë ‡ê²Œ í•˜ë©´ ê° í•­êµ¬ê°€ ë…ë¦½ì ìœ¼ë¡œ ì²˜ë¦¬ë˜ì–´, ë¶ˆí•„ìš”í•œ ìˆœì„œ ê´€ê³„ê°€ ìƒê¸°ëŠ” ê²ƒì„ ë°©ì§€í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ğŸ“ **í”„ë¡¬í”„íŠ¸**
```
trainê³¼ testì˜ Embarked í”¼ì³ë¥¼ One-Hot Encodingìœ¼ë¡œ ì¶”ê°€í•´ì¤˜
```

ğŸ’» **ì½”ë“œ & ì‹¤í–‰ê²°ê³¼**

In [9]:
embarked_dummies_train = pd.get_dummies(train['Embarked'], prefix='Embarked')
train = pd.concat([train, embarked_dummies_train], axis=1)

embarked_dummies_test = pd.get_dummies(test['Embarked'], prefix='Embarked')
test = pd.concat([test, embarked_dummies_test], axis=1)

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,False,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,True,False,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,False,False,True
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,False,False,True

ì´ì œ 'Embarked_S', 'Embarked_C', 'Embarked_Q' ì„¸ ê°œì˜ ìƒˆë¡œìš´ ì»¬ëŸ¼ì´ ìƒì„±ë˜ì—ˆê³ , ê° ìŠ¹ê°ì€ ìì‹ ì´ ìŠ¹ì„ í•œ í•­êµ¬ì— í•´ë‹¹í•˜ëŠ” ì»¬ëŸ¼ì—ë§Œ 1ì˜ ê°’ì„ ê°€ì§€ê²Œ ë©ë‹ˆë‹¤. ì´ë ‡ê²Œ í•˜ë©´ í•­êµ¬ ê°„ì— í¬ê¸° ê´€ê³„ê°€ ìƒê¸°ëŠ” ê²ƒì„ ë°©ì§€í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.



:::{admonition} One-Hot Encodingì˜ ì¥ë‹¨ì 
:class: tip

**ì¥ì **:
- ë²”ì£¼í˜• ë³€ìˆ˜ë“¤ ì‚¬ì´ì— í¬ê¸° ê´€ê³„ê°€ ìƒê¸°ëŠ” ê²ƒì„ ë°©ì§€í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤
- ê° ë²”ì£¼ê°€ ë…ë¦½ì ìœ¼ë¡œ ì²˜ë¦¬ë˜ì–´ ëª¨ë¸ì´ ë” ì •í™•í•œ íŒ¨í„´ì„ í•™ìŠµí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤

**ë‹¨ì **:
- ë²”ì£¼ì˜ ì¢…ë¥˜ê°€ ë§ìœ¼ë©´ ìƒì„±ë˜ëŠ” í”¼ì³ì˜ ìˆ˜ë„ ë§ì•„ì§‘ë‹ˆë‹¤
- ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ì´ ì¦ê°€í•˜ê³  í•™ìŠµ ì‹œê°„ì´ ê¸¸ì–´ì§ˆ ìˆ˜ ìˆìŠµë‹ˆë‹¤
- ê³¼ì í•©ì˜ ìœ„í—˜ì´ ì¦ê°€í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤ 
:::



## ëª¨ë¸ í•™ìŠµê³¼ ì˜ˆì¸¡

ì´ì œ ì›-í•« ì¸ì½”ë”©ìœ¼ë¡œ ìƒì„±ëœ ìƒˆë¡œìš´ í”¼ì³ë“¤ì„ ì‚¬ìš©í•˜ì—¬ ëª¨ë¸ì„ í•™ìŠµì‹œì¼œ ë³´ê² ìŠµë‹ˆë‹¤. ì•ì„œ ì‚¬ìš©í•œ í”¼ì³ë“¤(Pclass, Age, SibSp, Parch, Fare, Gender)ì— ìŠ¹ì„  í•­êµ¬ ê´€ë ¨ í”¼ì³ë“¤ì„ ì¶”ê°€í•˜ì—¬ ì˜ˆì¸¡ì˜ ì •í™•ë„ë¥¼ ë†’ì—¬ë³´ê² ìŠµë‹ˆë‹¤.

ğŸ“ **í”„ë¡¬í”„íŠ¸**
```
ìŠ¹ì„  í•­êµ¬ ê´€ë ¨ í”¼ì³ë“¤(Embarked_C, Embarked_Q, Embarked_S)ì„ inc_ftsì— ì¶”ê°€í•´ì¤˜
```

ğŸ’» **ì½”ë“œ & ì‹¤í–‰ê²°ê³¼**

In [10]:
inc_fts = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
inc_fts += ['Gender']
inc_fts += ['Embarked_C', 'Embarked_Q', 'Embarked_S']

print(inc_fts)

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Gender', 'Embarked_C', 'Embarked_Q', 'Embarked_S']

ì´ì œ ì´ 9ê°œì˜ í”¼ì³ë¥¼ ì‚¬ìš©í•˜ê²Œ ë©ë‹ˆë‹¤:
- ì²˜ìŒì— ì‚¬ìš©í–ˆë˜ 5ê°œì˜ ìˆ˜ì¹˜í˜• í”¼ì³
- ì„±ë³„ì„ ë‚˜íƒ€ë‚´ëŠ” Gender í”¼ì³
- ìŠ¹ì„  í•­êµ¬ë¥¼ ë‚˜íƒ€ë‚´ëŠ” 3ê°œì˜ í”¼ì³(Embarked_C, Embarked_Q, Embarked_S)

ëª¨ë¸ì˜ í•™ìŠµê³¼ ì˜ˆì¸¡ì€ ì´ì œ train_and_predict(train, test) í•¨ìˆ˜ í•˜ë‚˜ë¡œ ì§„í–‰ë©ë‹ˆë‹¤. 1.3 ì„¹ì…˜ì—ì„œ ì‚¬ìš©í–ˆë˜ ëª¨ë“  ëª¨ë¸ í•™ìŠµ ì½”ë“œê°€ ì´ í•¨ìˆ˜ ì•ˆì— í¬í•¨ë˜ì–´ ìˆì–´ì„œ, ë§¤ë²ˆ ê¸´ ì½”ë“œë¥¼ ë°˜ë³µí•´ì„œ ì…ë ¥í•  í•„ìš”ê°€ ì—†ì–´ì¡ŒìŠµë‹ˆë‹¤. ë§ˆì¹˜ ìš”ë¦¬ ì±…ì—ì„œ ìì£¼ ì‚¬ìš©í•˜ëŠ” ê¸°ë³¸ ì–‘ë…ì„ ë¯¸ë¦¬ ì„ì–´ë‘ëŠ” ê²ƒì²˜ëŸ¼, ìì£¼ ì‚¬ìš©í•˜ëŠ” ì½”ë“œë¥¼ í•˜ë‚˜ì˜ í•¨ìˆ˜ë¡œ ì •ë¦¬í•œ ê²ƒì´ì£ .

ğŸ’» **ì½”ë“œ & ì‹¤í–‰ê²°ê³¼**

In [11]:
train_and_predict(train, test)

Validation Score: 0.82123

ì´ë ‡ê²Œ ê°„ë‹¨í•œ ëª…ë ¹ì–´ í•˜ë‚˜ë¡œ ëª¨ë¸ í•™ìŠµë¶€í„° ì˜ˆì¸¡ê¹Œì§€ ëª¨ë“  ê³¼ì •ì´ ìë™ìœ¼ë¡œ ì‹¤í–‰ë©ë‹ˆë‹¤. ì´ì œ ìš°ë¦¬ëŠ” í”¼ì³ë¥¼ ì¶”ê°€í•˜ê±°ë‚˜ ìˆ˜ì •í•  ë•Œ inc_fts ë¦¬ìŠ¤íŠ¸ë§Œ ë³€ê²½í•˜ë©´ ë˜ë‹ˆ, ë”ìš± íš¨ìœ¨ì ìœ¼ë¡œ ì‹¤í—˜ì„ ì§„í–‰í•  ìˆ˜ ìˆê²Œ ë˜ì—ˆìŠµë‹ˆë‹¤.



ì´ë ‡ê²Œ ìŠ¹ì„  í•­êµ¬ ì •ë³´ë¥¼ ì¶”ê°€í•˜ì—¬ í•™ìŠµí•œ ëª¨ë¸ì˜ ì„±ëŠ¥ì„ ë³´ë©´:
- Validation Score: 0.82123 (ì´ì „ê³¼ ë™ì¼)
- Public Score: 0.74880 (ì´ì „ 0.73444ì—ì„œ ìƒìŠ¹)
- 418ëª…ì˜ test ë°ì´í„° ì¤‘ ì•½ 313ëª…ì˜ ìƒì¡´ ì—¬ë¶€ë¥¼ ë§í˜”ìŠµë‹ˆë‹¤ (ì´ì „ë³´ë‹¤ 6ëª… ì¦ê°€)

ì§€ê¸ˆê¹Œì§€ì˜ ê²°ê³¼ë¥¼ í‘œë¡œ ì •ë¦¬í•˜ë©´ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤:

| ë²„ì „ | í”¼ì³ ê°œìˆ˜ | Val. Score | Public Score | ë§ì€ ì‚¬ëŒ ìˆ˜ |          ì„¤ëª…           |
| :--: | :-------: | :--------: | :----------: | :----------: | :---------------------: |
| 1.3  |    5ê°œ    |  0.73184   |   0.63397    |    265ëª…     | 5ê°œì˜ numeric í”¼ì³ ì‚¬ìš© |
| 2.1  |    6ê°œ    |  0.82123   |   0.73444    |    307ëª…     |    Gender í”¼ì³ ì¶”ê°€     |
| 2.2  |    9ê°œ    |  0.82123   |   0.74880    |    313ëª…     |   ìŠ¹ì„  í•­êµ¬ ì •ë³´ ì¶”ê°€   |

ì´ ê²°ê³¼ëŠ” ë§¤ìš° í¥ë¯¸ë¡œìš´ ì‹œì‚¬ì ì„ ì œê³µí•©ë‹ˆë‹¤:

1. ì„±ë³„(Gender)ì˜ ê°•ë ¥í•œ ì˜í–¥ë ¥

2. ìŠ¹ì„  í•­êµ¬ì˜ ë³´ì™„ì  ì—­í• 
   - 3ê°œì˜ í”¼ì³ê°€ ì¶”ê°€ë˜ì—ˆì§€ë§Œ 6ëª…ì˜ ì˜ˆì¸¡ë§Œ ê°œì„ ë˜ì—ˆìŠµë‹ˆë‹¤
   - í•˜ì§€ë§Œ ì´ëŠ” ê° í•­êµ¬ì˜ ê³ ìœ í•œ íŠ¹ì„±ì´ ìƒì¡´ì— ì˜í–¥ì„ ë¯¸ì³¤ìŒì„ ì˜ë¯¸í•©ë‹ˆë‹¤
   - íŠ¹íˆ Cherbourg ìŠ¹ê°ë“¤ì˜ ë†’ì€ ìƒì¡´ìœ¨(55.4%)ì´ ì˜ˆì¸¡ ì •í™•ë„ í–¥ìƒì— í¬ê²Œ ê¸°ì—¬í–ˆìŠµë‹ˆë‹¤
   - ì´ëŠ” Cherbourgì—ì„œ ìŠ¹ì„ í•œ ìŠ¹ê°ë“¤ ì¤‘ 1ë“±ì‹¤ ìŠ¹ê°ì˜ ë¹„ìœ¨ì´ ë†’ì•˜ê¸° ë•Œë¬¸ì…ë‹ˆë‹¤
   - ì•ì„œ ë¶„ì„ì—ì„œ ë³´ì•˜ë“¯ì´, ì „ì²´ 168ëª…ì˜ Cherbourg ìŠ¹ê° ì¤‘ ë¬´ë ¤ 85ëª…(ì•½ 51%)ì´ 1ë“±ì‹¤ì„ ì´ìš©í–ˆìŠµë‹ˆë‹¤


ì§€ê¸ˆê¹Œì§€ ìŠ¹ì„  í•­êµ¬ë³„ íŠ¹ì„±ì„ ì‚´í´ë³´ì•˜ëŠ”ë°, íŠ¹íˆ Cherbourg ìŠ¹ê°ë“¤ì˜ ë†’ì€ ìƒì¡´ìœ¨ì€ ì´ë“¤ì´ ì§€ë¶ˆí•œ ìš”ê¸ˆê³¼ë„ ê´€ë ¨ì´ ìˆì„ ê²ƒ ê°™ìŠµë‹ˆë‹¤. ë‹¤ìŒ ì„¹ì…˜ì—ì„œëŠ” ìš”ê¸ˆ(Fare) ë°ì´í„°ë¥¼ ìì„¸íˆ ë¶„ì„í•˜ë©´ì„œ, ì´ ë³€ìˆ˜ê°€ ìƒì¡´ìœ¨ì— ë¯¸ì¹˜ëŠ” ì˜í–¥ì„ ì‚´í´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.



:::{admonition} ì§ì ‘ í•´ë³´ê¸°
:class: tip

ê²°ì¸¡ì¹˜ ì²˜ë¦¬ì™€ ì¸ì½”ë”©ì— ëŒ€í•œ ì´í•´ë¥¼ ë†’ì´ê¸° ìœ„í•´ ë‹¤ìŒ ì‹¤ìŠµì„ í•´ë³´ì„¸ìš”:

1. ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ì‹¤í—˜
   ```python
   # ê²°ì¸¡ì¹˜ë¥¼ 'C'ë¡œ ì±„ìš°ê¸°
   train['Embarked'] = train['Embarked'].fillna('C')
   
   # ë˜ëŠ” 'Q'ë¡œ ì±„ìš°ê¸°
   train['Embarked'] = train['Embarked'].fillna('Q')
   ```
   ê°ê°ì˜ ê²½ìš° ëª¨ë¸ì˜ ì„±ëŠ¥ì´ ì–´ë–»ê²Œ ë‹¬ë¼ì§€ëŠ”ì§€ ë¹„êµí•´ë³´ì„¸ìš”. ì™œ ê·¸ëŸ° ì°¨ì´ê°€ ë‚¬ì„ê¹Œìš”?

2. ë‹¤ë¥¸ ë°©ì‹ì˜ ì¸ì½”ë”© ì‹œë„
   - ë ˆì´ë¸” ì¸ì½”ë”©ìœ¼ë¡œ ì²˜ë¦¬í•´ë³´ê¸°
   ```python
   train['Embarked_Label'] = train['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})
   ```
   - ì›-í•« ì¸ì½”ë”©ê³¼ ë¹„êµí–ˆì„ ë•Œ ì–´ë–¤ ì°¨ì´ê°€ ìˆë‚˜ìš”?

3. ìŠ¹ì„  í•­êµ¬ì™€ ë‹¤ë¥¸ ë³€ìˆ˜ì˜ ê´€ê³„ ë¶„ì„
   ```python
   # ê° í•­êµ¬ë³„ í‰ê·  ìš”ê¸ˆ í™•ì¸
   train.groupby('Embarked')['Fare'].mean()
   
   # ê° í•­êµ¬ë³„ ê°ì‹¤ ë“±ê¸‰ ë¶„í¬ í™•ì¸
   pd.crosstab(train['Embarked'], train['Pclass'])
   ```
   ì´ ê²°ê³¼ë“¤ì€ ì•ì„œ ë³¸ ìƒì¡´ìœ¨ ì°¨ì´ë¥¼ ì–´ë–»ê²Œ ì„¤ëª…í•  ìˆ˜ ìˆë‚˜ìš”?

ë„ì „í•´ë³´ì„¸ìš”!
1. ìŠ¹ì„  í•­êµ¬ì™€ ì„±ë³„ì„ í•¨ê»˜ ê³ ë ¤í•˜ë©´ ì–´ë–¤ íŒ¨í„´ì´ ë³´ì¼ê¹Œìš”?
2. ê° í•­êµ¬ë³„ë¡œ ë‚˜ì´ ë¶„í¬ëŠ” ì–´ë–»ê²Œ ë‹¤ë¥¼ê¹Œìš”?
3. ìš”ê¸ˆê³¼ ìŠ¹ì„  í•­êµ¬ ì‚¬ì´ì—ëŠ” ì–´ë–¤ ê´€ê³„ê°€ ìˆì„ê¹Œìš”?

ì´ëŸ¬í•œ ë¶„ì„ì„ í†µí•´ ë°ì´í„° ì†ì— ìˆ¨ì–´ìˆëŠ” ìƒˆë¡œìš´ íŒ¨í„´ì„ ë°œê²¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
:::

:::{admonition} í”„ë¡¬í”„íŠ¸ ì‹¤í—˜í•˜ê¸°
:class: tip

AIì—ê²Œ ë¶„ì„ì„ ìš”ì²­í•  ë•ŒëŠ” ë‹¤ì–‘í•œ ë°©ì‹ìœ¼ë¡œ í”„ë¡¬í”„íŠ¸ë¥¼ ì‘ì„±í•´ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤:

1. ê¸°ë³¸ì ì¸ ë¶„ì„ ìš”ì²­:
   ```
   Embarked ì»¬ëŸ¼ì˜ ê°’ë“¤ì„ ë³´ì—¬ì¤˜
   ```

2. êµ¬ì²´ì ì¸ ë¶„ì„ ìš”ì²­:
   ```
   ê° í•­êµ¬ë³„ë¡œ 1ë“±ì„, 2ë“±ì„, 3ë“±ì„ ìŠ¹ê°ì˜ ìˆ˜ì™€ ë¹„ìœ¨ì„ ê³„ì‚°í•´ì¤˜
   ```

3. ì‹œê°í™” ìš”ì²­:
   ```
   í•­êµ¬ë³„ ìŠ¹ê° ìˆ˜ì™€ ìƒì¡´ìœ¨ì„ ë§‰ëŒ€ê·¸ë˜í”„ë¡œ ë³´ì—¬ì¤˜
   ```

4. ë³µí•©ì ì¸ ë¶„ì„ ìš”ì²­:
   ```
   ê° í•­êµ¬ë³„ë¡œ ì„±ë³„ ë¶„í¬ì™€ í‰ê·  ìš”ê¸ˆì„ í•¨ê»˜ ë³´ì—¬ì£¼ê³ , 
   ì´ê²ƒì´ ìƒì¡´ìœ¨ê³¼ ì–´ë–¤ ê´€ê³„ê°€ ìˆëŠ”ì§€ ë¶„ì„í•´ì¤˜
   ```

ê°™ì€ ë°ì´í„°ë„ ë‹¤ì–‘í•œ ê°ë„ì—ì„œ ë¶„ì„í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì—¬ëŸ¬ë¶„ë§Œì˜ í”„ë¡¬í”„íŠ¸ë¡œ ìƒˆë¡œìš´ ì¸ì‚¬ì´íŠ¸ë¥¼ ë°œê²¬í•´ë³´ì„¸ìš”!
:::



:::{admonition} ë°ì´í„° ì† ìˆ¨ì€ ì´ì•¼ê¸°
:class: seealso

ìš°ë¦¬ê°€ ë¶„ì„í•œ ê²°ì¸¡ì¹˜ ìŠ¹ê°ë“¤ì˜ ì‹¤ì œ ì´ì•¼ê¸°ë¥¼ ì°¾ì•„ë³´ì•˜ìŠµë‹ˆë‹¤!

[Encyclopedia Titanica](https://www.encyclopedia-titanica.org)ì—ì„œ ì´ ë‘ ìŠ¹ê°ì— ëŒ€í•œ í¥ë¯¸ë¡œìš´ ê¸°ë¡ì„ ë°œê²¬í–ˆìŠµë‹ˆë‹¤. ë°ì´í„°ì—ì„œ ìš°ë¦¬ê°€ ì¶”ì¸¡í–ˆë˜ ê²ƒì²˜ëŸ¼, ì´ë“¤ì€ ì‹¤ì œë¡œ í•¨ê»˜ ì—¬í–‰í–ˆë˜ ë™í–‰ì´ì—ˆìŠµë‹ˆë‹¤.

```{figure} images/22-2.png
---
---
```

62ì„¸ì˜ Stone ë¶€ì¸(ì‚¬ì§„)ê³¼ 38ì„¸ì˜ Miss IcardëŠ” ê³ ìš©ì£¼ì™€ ê°€ì •ë¶€ ê´€ê³„ì˜€ìŠµë‹ˆë‹¤. ë‘˜ì€ Southamptonì—ì„œ ìŠ¹ì„ í–ˆê³ , ë‹¤í–‰íˆ ëª¨ë‘ ìƒì¡´í–ˆìŠµë‹ˆë‹¤. íŠ¹íˆ ê°ë™ì ì¸ ê²ƒì€ Stone ë¶€ì¸ì´ ì‚¬ë§ ì‹œ Miss Icardì—ê²Œ ìƒë‹¹í•œ ê¸ˆì•¡ì˜ ìœ ì‚°ê³¼ ê°œì¸ ì†Œì§€í’ˆì„ ë‚¨ê²¼ë‹¤ëŠ” ê¸°ë¡ì…ë‹ˆë‹¤. 24ë…„ì˜ ë‚˜ì´ ì°¨ì´ë¥¼ ë„˜ì–´, ê³ ìš©ì£¼ì™€ ê°€ì •ë¶€ë¡œ ì‹œì‘ëœ ë‘ ì‚¬ëŒì˜ ê´€ê³„ê°€ ê¹Šì€ ì‹ ë¢°ì™€ ìš°ì •ìœ¼ë¡œ ë°œì „í–ˆë˜ ê²ƒ ê°™ë„¤ìš”.

ì´ë ‡ê²Œ ì°¨ê°€ìš´ ìˆ«ìë¡œ ì´ë£¨ì–´ì§„ ë°ì´í„° ì†ì—ë„ ë”°ëœ»í•œ ì¸ê°„ ë“œë¼ë§ˆê°€ ìˆ¨ì–´ìˆìŠµë‹ˆë‹¤. ìš°ë¦¬ê°€ ë¶„ì„í•œ ê²°ì¸¡ì¹˜ ì²˜ë¦¬ê°€ ë‹¨ìˆœí•œ ë°ì´í„° ì‘ì—…ì´ ì•„ë‹Œ, ì‹¤ì œ ì¡´ì¬í–ˆë˜ ì‚¬ëŒë“¤ì˜ ì´ì•¼ê¸°ë¼ëŠ” ì ì´ íŠ¹ë³„í•˜ê²Œ ë‹¤ê°€ì˜µë‹ˆë‹¤.

ë” ìì„¸í•œ ë‚´ìš©ì´ ê¶ê¸ˆí•˜ì‹œë‹¤ë©´:
- [Martha Evelyn Stoneì˜ ì´ì•¼ê¸°](https://www.encyclopedia-titanica.org/titanic-survivor/martha-evelyn-stone.html)

- [Amelia Icardì˜ ì´ì•¼ê¸°](https://www.encyclopedia-titanica.org/titanic-survivor/amelia-icard.html)

:::